# .gitignore

# Secrets
.env

# Database files
*.duckdb

# ==================================================
# Docker & PostgreSQL Dumps
# ==================================================
# Décommenter la ligne suivante si vous ne voulez PAS 
# versionner le dump SQL (données sensibles, taille > 1GB, etc.)
# docker_init/*.sql

# Volumes Docker
postgres_data/

# ==================================================
# Python
# ==================================================
__pycache__/
*.pyc
*.pyo
*.pkl
.Python
env/
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db