# .gitignore

# Secrets
.env
*.duckdb

# Python
__pycache__/
*.pyc
*.pyo
*.pkl
.Python
env/
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Scripts utilitaires & Tests locaux
test_manuel.py
fix_sequences.py
inspect_db.py
*.log